<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BITCollege_QXContext" connectionString="Data Source=MSI\QIAORAN; Initial Catalog=BITCollege_QXContext; Integrated Security=True;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>